**/node_modules
**/.git
**/.cache
**/dist
**/lib
**/coverage
**/temp*
**/result*
**/.docker
**/final*
/final-resp
/final-result
/redis
npm-debug.log
.gitignore
.huskyrc
jest.config.js
Jenkinsfile
.gitlab-ci.yml
.prettierrc
commitlint.config.js
mocha.opts
.nyrc
.localstack
/assets
/.docker
docker-compose.yml
.dockerignore
Dockerfile
.editorconfig
.eslintrc.js
*.md
**/__e2e__
**/__load__
**/__setups__
**/__tests__
**/k8s